.audio-component {
  width: 100%;
  height: 100%;
  margin: 1.5em auto;
  padding: 1.5em 1.2em;
  background: transparent;
 box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 8px;
position: relative;
  z-index: 2;
  font-family: system-ui, serif;
  border: 2px solid transparent;
}
.audio-component.active{
  border-color:rgb(72, 1, 113);
  /* position: fixed; */

}



.audio-header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.audio-back {
  background: none;
  border: none;
  font-size: 1.2em;
  margin-right: 0.7em;
  cursor: pointer;
}
.audio-title {
  font-size: 1.1em;
  font-weight: 600;
  flex: 1;
  text-align: left;
  
}
.audio-controls {
  display: flex;
  align-items: center;
  gap: 1em;
}
.audio-playpause {
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.35em;
  cursor: pointer;
  box-shadow: 0 1px 4px #0001;
  transition: background 0.15s;
}

.audio-progress-container {
  flex: 1;
  cursor: pointer;
  height: 16px;
  display: flex;
  align-items: center;
}
.audio-progress-bar {
  width: 100%;
  height: 5px;
  background: #ccc;
  border-radius: 2.5px;
  overflow: hidden;
  position: relative;
}
.audio-progress {
  height: 100%;
  background: #3b82f6;
  border-radius: 2.5px 0 0 2.5px;
  transition: width 0.18s linear;
}
.audio-time {
  font-size: 0.95em;
  width: 100px;
  text-align: right;
}
.audio-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: 500;
  color: #fff;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  z-index: 10;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: opacity 0.2s;
}

@media (prefers-color-scheme: dark)  {
    .audio-component{
        border-color:#ccc;
        box-shadow: rgba(247, 247, 247, 0.219) 0px 2px 4px 0px, rgba(224, 224, 224, 0.242) 0px 2px 16px 0px;
    }
    .audio-playpause {
        color:#fff;
    }
    .audio-component.active{
  border-color:orange;
}
.audio-overlay{
  color:orange
}
.audio-progress{
  background-color: orange;
}
}